/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

form ul {
    list-style: none;
}
form ul li {
    padding: 10px;
}

.newsletter_errors {
    display: none; /* hide by default */
    margin-bottom: 20px;
    box-shadow: 0 0 0 1px #ffffff; // incase it's on a black background
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1); // incase it's on a white background
    border: 1px solid #c00;

}

.newsletter_errors:last-child {
    margin-bottom: 0;
}

.newsletter_thanks {
    display: none;
}

.form_group {
    display: block;
    margin-bottom: 20px;
}

.form_group-agree{
    padding-left: 1.5em; // roughly width of a checkbox
    text-indent: -1.5em;
}

.form_label {
    display: block;
}

.form_label-inline {
    display: inline-block;
}

.form_input {
    box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.05);
    border: 3px solid #D9D9D9;
    background-color: #fff;
}

button,
input:not([type=radio]):not([type=checkbox])  {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 100%;
    padding: 12px 15px;
    font-family: inherit;
    line-height: 1; // IE can't handle any other value, must compensation with padding
}

button {
    cursor: pointer;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
    padding: 0 !important;
    border: 0 none !important;
    cursor: pointer;
}

$placeholder-color = #B1B1B1;
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #B1B1B1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B1B1B1;
  color: $placeholder-color;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B1B1B1;
  color: $placeholder-color;
}
::placeholder {
  color: #B1B1B1;
}
